{% extends 'default/default.html.twig' %}
{% block content %}
<h1>Video gallery</h1>
<p>On this page you can see video gallery</p>
{{ pimcore_renderlet('videoGallery', {
    'controller': 'App\\Controller\\VideoGalleryController::videoGalleryItemsAction',
    'editmode': 'editmode',
    'title': 'Add video to gallery',
    'height': 200
}) }}
{% endblock %}